* {
  font-family: "Lato", sans-serif;
}
body {
  /* background-image: linear-gradient(
    to bottom right,
    rgb(174, 141, 204),
    rgb(174, 141, 204)
  ); */
  background-image : url(uni.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.loginform {
  margin: 100px auto;
  width: 350px;
  /* background-color: rgb(190, 189, 190); */
  background: rgba(156, 149, 161, 0.301);
  padding: 60px;
}
.logo {
  /* background-image: linear-gradient(to bottom right, rgb(154, 154, 209),rgb(174, 141, 204); */
  /* background-image: linear-gradient(
    to bottom right,
    rgb(174, 141, 204),
    rgb(174, 141, 204)
  ); */
  height: 140px;
  width: 140px;
  border-radius: 50%;
  margin: -41px auto;
  margin-bottom: 10px;
}
.logo img {
  width: 100%;
}
.title,
.subtitle {
  text-align: center;
  color: rgb(0, 0, 0);
}
.title {
  font-weight: bold;
  font-size: 26px;
}
.subtitle {
  font-weight: bolder;
  font-size: 18px;
}
.form {
  width: 100%;
  margin-top: 10px;
}
.form input {
  font-size: 15px;
  padding: 10px 20px 10px 5px;
  border: none;
  outline: none;
  background: none;
}
.username,
.password {
  display: block;
  border-radius: 30px;
  border: 1px solid black;
  padding: 6px;
  margin: 10px 0;
  background-color: rgba(156, 149, 161, 0.301);
  
}
button.loginbutton {
  width: 100%;
  padding: 13px 20px;
  border: none;
  font-size: 25px;
  border-radius: 30px;
  background-color: rgb(160, 94, 154);
  margin-bottom: -15px;
}

button.loginbutton a{ 
  text-decoration:none;
  color: black;
  font-weight: bold;
}
.password ::placeholder,
.username ::placeholder{
  color: black;
}